*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2a5390;
    --prueba1: #173c74; 
    --prueba2: #173e79; 
    --prueba3: #204680; 
    /*
    #204680
    #173e79
    #173c74
    */
}

body{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
    font-family: "Montserrat", sans-serif;
}

/*
* ----------------------------- ESTILOS NAVBAR -----------------------------
*/
nav{
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.Nav-icono{
    height: 60px;
    margin-top: 5px;
}

.Nav-fondo{
    width: 60%;
    height: 60px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: url(../assets/images/Nav-Fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Nav-fondo ul li{
    display: inline-block;
    margin-right: 35px;
}

.Nav-fondo ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 1px;
}

.Nav-fondo ul li a:hover{
    border-bottom: 1px solid white ;
}

/*ESTILOS PARA PAGINA INICIO*/

.Nav-fondo-alternativo{
    width: 60%;
    height: 60px;
    display: flex;
    justify-content:right;
    align-items: center;
    background-image: url(../assets/images/Nav-Fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Nav-fondo-alternativo .Nav-buscador{
    width: 250px;
    display: flex;
    background-color: white;
    padding: 5px 5px;
    margin-right: 100px;
    border-radius: 8px;
}

.Nav-fondo-alternativo .Nav-buscador img {
    width: 20px;
    margin-right: 15px;
}

.Nav-fondo-alternativo .Nav-buscador input[type= "text"]{
    width: 190px;
    border: 0;
    border-bottom: 1px solid var(--primary-color);
}

.Nav-fondo-alternativo .Nav-buscador input[type= "text"]:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}

.Nav-fondo-alternativo .iconos{
    width: 35px;
    margin-right: 35px;
}

/*
* ----------------------------- ESTILOS MAIN -----------------------------
*/

main{
    width: 97%;
    margin: 0 auto;
    margin-top: 16px;    
}

.Banner-fondo{
    width: 100%;
    height: 89vh;
    background-image: url(../assets/images/Banner-Fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.Banner-informacion{
    width: 40%;
    height: 50%;
    margin-right: 40px;
}

.Banner-informacion p, h1{
    font-size: 45px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.Banner-informacion article{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

.Banner-boton{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.Banner-boton button{
    padding: 15px 70px ;
    border: 0px;
    background-color: white;
    border-radius: 15px;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}

.Banner-boton button a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

.Banner-boton button:hover{
    scale: 1.1;
}

.QuienesSomos{
    width: 97%;
    margin: 0 auto;
    margin-top: 50px; 
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.QuienesSomos article{
    width: 70%;
    font-size: 20px;
    font-weight: 500;
}

/*ESTILOS PARA PAGINA INICIO*/

.navegacion{
    width: 35%;
    height: 50px;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.navegacion div{
    width: 40px;
    height: 40px;
    text-align: center;
}

.Seleccionado{
    border-bottom: 2px solid white;
}

.navegacion img{
    width: 35px;
}

.Contenedor{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
}

.tarjeta{
    width: 90%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.507);
}

.tarjeta .tarjeta-infoUsuario{
    width: 90%;
    height: 50px;
    margin: 0 auto; 
    display: flex;
    align-items: center;   
}

.usuario-foto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.usuario-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.usuario-info{
    width: 70%;
    height: 40px;
    margin: 10px;
}

.usuario-info p:first-child{
    font-weight: 600;
    color: var(--primary-color);
}

.usuario-info p:last-child{
    font-size: 12px;
    color: grey;
}

.tarjeta .tarjeta-imagen{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

.tarjeta-imagen img{
    width: 100%; 
}

.tarjeta .tarjeta-informacion{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    margin-top: 5px;
    border-bottom: 2px solid lightgrey;
}

.tarjeta-informacion p{
    font-size: 14px;
}

.tarjeta .botones{
    width: 90%;
    height: 45px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botones button{
    padding: 7px 15px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.botones button a{
    text-decoration: none;
    color: white;
}

.botones .botones-iconos{
    margin-left: 5px;    
}

.botones .botones-iconos img{
    width: 30px;
    margin: 5px;
}

.a { grid-column: 1 / 2; grid-row: 1 / 2; }
.b { grid-column: 2 / 3; grid-row: 1 / 2; }
.c { grid-column: 3 / 4; grid-row: 1 / 2; }
.d { grid-column: 1 / 2; grid-row: 2 / 3; }
.e { grid-column: 2 / 3; grid-row: 2 / 3; }
.f { grid-column: 3 / 4; grid-row: 2 / 3; }

/*
* ----------------------------- ESTILOS FOOTER -----------------------------
*/

footer{
    width: 97%;
    margin: 0 auto;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    position: sticky;
    z-index: 2000;
}

footer .Redes{
    width: 250px;
    padding: 20px;
    display: flex;

}

footer .Redes-iconos img{
    padding: 0 20px 10px 0;
}

footer .Redes-iconos img:last-child{
    padding: 0 10px 0 0;
}

footer .Redes-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

footer .Redes-info p{
    color: white;
}

footer .DerechosReservados{
    width: 70%;
    text-align: center;
    align-self: center;
}

footer .DerechosReservados p{
    color: white;
}