*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2a5390;
    --prueba1: #173c74; 
    --prueba2: #173e79; 
    --prueba3: #204680; 
    /*
    #204680
    #173e79
    #173c74
    */
  }

body{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
    font-family: "Montserrat", sans-serif;
}

nav{
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.Nav-icono{
    height: 40px;
    margin-top: 5px;
}

.Nav-fondo{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: url(../assets/images/Nav-Fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Nav-fondo ul li{
    display: inline-block;
    margin-right: 15px;
}

.Nav-fondo ul li a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 1px;
}

.Nav-fondo ul li a:hover{
    border-bottom: 1.4px solid white ;
}